#include <winver.h>

1 VERSIONINFO
FILEVERSION 17,0,0,0
PRODUCTVERSION 17,0,0,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS VS_FF_DEBUG
#else
FILEFLAGS 0
#endif
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0

BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "MYSTRAN Finite Element Solver"
      VALUE "FileVersion", "17.0.0"
      VALUE "ProductName", "MYSTRAN"
      VALUE "ProductVersion", "17.0.0"
      VALUE "CompanyName", "Open-Source Project"
      VALUE "OriginalFilename", "mystran.exe"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
